.Board {
    margin: 2em auto;
    display: grid;
    grid-gap: 2px;
    width: 20vw;
    height: 40vw;
    background: rgba(25, 25, 112, 0.3);
    border: 5px double aqua;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }