@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah';
}
body {
    background: linear-gradient(#406 ,#2B32BD )
}
.background {
    contain: layout;
    background-image: 'src/images/29Z_2105.w026.n002.432B.p1.432.jpg';
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: 'Gloria Hallelujah', cursive;
}