body {
    background-color: lightgrey;
}
.BoardContainer {
    text-align: center;
    margin: 20px;
}
  
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    max-width: 40vh;
    margin: 0 auto;
}

.cell {
    width: 100%;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid black;
}
  
.cell:hover {
    background-color: grey;
}