.Preview {
    position: absolute;
    top: 0;
    left: 28vw;
    background: rgba(25, 25, 112, 0.3);
    border: 5px double rgba(0, 255, 255, 1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .Preview-board {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 7vw;
    height: 7vw;
  }